<h1>Fifth Edition Trap Generator</h1>

<p>Generate a trap for the fifth edition of a popular tabletop RPG! Select the average level of your party and how dangerous you want the trap to be.</p>

<form>
<label for="trap-level">Party Level:</label>
<input id="trap-level" type="number" ng-model="trap.level" min="1" max="20" />
<label for="trap-danger">Trap Danger:</label>
<select id="trap-danger" ng-model="trap.danger"
    ng-options="value for value in trapDangers">
</select>
</form>

<p><a href="#/traps">Reset Form</a></p>

<dl class="trap-results">
    <dt class="trap-key">Save DC</dt>
        <dd class="trap-value">{{ trapSaves[trap.danger] }}</dd>
    <dt class="trap-key">Attack Bonus</dt>
        <dd class="trap-value">{{ trapAttack[trap.danger] }}</dd>
    <dt class="trap-key">Damage</dt>
        <dd class="trap-value">
            <dice-roller ng-model="trapDamage(trap.level)[trap.danger]"></dice-roller>
        </dd>
</dl>